setuptools==69.5.1  # temp fix for compatibility with some old packages
matplotlib
numpy
openai
pandas
requests
scikit-learn
transformers
sentencepiece
protobuf
datasets
accelerate
chardet
python-dotenv
httpx[socks]
httpcore[socks]
ipykernel
ipywidgets
langchain
langchain-openai
langchainhub
langgraph
google-search-results
lxml
tiktoken
faiss-cpu
beautifulsoup4
chroma-hnswlib
chromadb
matplotlib-inline
pinecone-client
pypdf
scipy
sentence-transformers
tenacity
tqdm
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
nltk 
rouge
peft
pillow
ftfy
Jinja2
diffusers
tensorboard
tensorstore
zarr
requests
uvicorn
websockets
gradio
python-dotenv
dspy-ai
jinja2
langchain_community
sentence-transformers
tenacity
tiktoken
tqdm
unstructured
unstructured-client
unstructured-inference
pytesseract
unstructured.pytesseract
pi-heif
opencv-python-headless
langchain_pinecone
langchain_chroma
asyncer
neo4j
yfiles_jupyter_graphs

# git clone --depth 1 https://github.com/hiyouga/LLaMA-Factory.git
# cd LLaMA-Factory
# pip install -e ".[torch,metrics]"
comfyui-frontend-package==1.14.6
numpy>=1.25.0
einops
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp>=3.11.8
yarl>=1.18.0
pyyaml
Pillow
scipy
tqdm
psutil

#non essential dependencies:
spandrel
soundfile
av

Pillow

blendmodes
clean-fid
diskcache
einops
facexlib
gradio==3.41.2
inflection
jsonmerge
kornia
lark
numpy
omegaconf
open-clip-torch

piexif
protobuf==3.20.0
psutil
pytorch_lightning
requests
resize-right

safetensors
scikit-image>=0.19
tomesd
torchdiffeq
transformers==4.30.2
pillow-avif-plugin==1.4.3

GitPython==3.1.32
Pillow==9.5.0
accelerate==0.21.0
blendmodes==2022
clean-fid==0.1.35
diskcache==5.6.3
einops==0.4.1
facexlib==0.3.0
fastapi==0.95.2
gradio==3.41.2
httpcore==0.15
inflection==0.5.1
jsonmerge==1.8.0
kornia==0.6.7
lark==1.1.2
numpy==1.26.2
omegaconf==2.2.3
open-clip-torch==2.20.0
piexif==1.1.3
protobuf==3.20.0
psutil==5.9.5
pytorch_lightning==1.9.4
resize-right==0.0.2
safetensors==0.4.2
scikit-image==0.21.0
spandrel==0.3.4
spandrel-extra-arches==0.1.1
tomesd==0.1.3
torchdiffeq==0.2.3
torchsde==0.2.6
httpx==0.24.1
pillow-avif-plugin==1.4.3
pytest-base-url~=2.0
pytest-cov~=4.0
pytest~=7.3