matplotlib
numpy
openai
pandas
requests
scikit-learn
transformers
sentencepiece
protobuf
datasets
accelerate
chardet
python-dotenv
httpx[socks]
httpcore[socks]
ipykernel
ipywidgets
langchain
langchain-openai
langchainhub
langgraph
google-search-results
lxml
tiktoken
faiss-cpu
beautifulsoup4
chroma-hnswlib
chromadb
matplotlib-inline
pinecone-client
pypdf
scipy
sentence-transformers
tenacity
tqdm
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
nltk 
rouge
peft
pillow
ftfy
Jinja2
diffusers
tensorboard
tensorstore
zarr
requests
uvicorn
fastapi
websockets
gradio==5.23.3
python-dotenv
dspy-ai
jinja2
langchain_community
sentence-transformers
tenacity
tiktoken
tqdm
unstructured
unstructured-client
unstructured-inference
pytesseract
unstructured.pytesseract
pi-heif
opencv-python-headless
langchain_pinecone
langchain_chroma
asyncer
