matplotlib
numpy
openai
pandas
requests
scikit-learn
transformers
sentencepiece
protobuf
datasets
chardet
python-dotenv
httpx[socks]
httpcore[socks]
ipykernel
ipywidgets
langchain
langchain-openai
langchainhub
langgraph
google-search-results
lxml
tiktoken
faiss-cpu
beautifulsoup4
chroma-hnswlib
chromadb
matplotlib-inline
pinecone-client
pypdf
scipy
tenacity
tqdm
unstructured
unstructured-client
unstructured.pytesseract
nltk
rouge
pillow
ftfy
Jinja2
diffusers
tensorboard
tensorstore
zarr
uvicorn
fastapi
websockets
gradio==5.18.0
dspy-ai
langchain_community
pytesseract
pi-heif
opencv-python-headless
langchain_pinecone
langchain_chroma
asyncer
neo4j
yfiles_jupyter_graphs

# git clone --depth 1 https://github.com/hiyouga/LLaMA-Factory.git
# cd LLaMA-Factory
# pip install -e ".[torch,metrics]"